<span style="color: #569cd6;">module</span>;

<span style="color: #569cd6;">#include </span><span style="color: #ce9178;">&lt;cstdlib&gt;</span>

<span style="color: #569cd6;">export</span> <span style="color: #569cd6;">module</span> c_tools.exit_codes;

<span style="color: #569cd6;">export</span> <span style="color: #569cd6;">namespace</span> c_tools {
   <span style="color: #569cd6;">constexpr</span> <span style="color: #569cd6;">int</span> exit_success = <span style="color: #569cd6;">EXIT_SUCCESS</span>;
   <span style="color: #569cd6;">constexpr</span> <span style="color: #569cd6;">int</span> exit_failure = <span style="color: #569cd6;">EXIT_FAILURE</span>;
}<span style="color: #6a9955;"> // namespace c_tools</span>
