<span style="color: #569cd6;">module</span>;

<span style="color: #569cd6;">#include </span><span style="color: #ce9178;">&lt;cstdio&gt;</span>

<span style="color: #569cd6;">export</span> <span style="color: #569cd6;">module</span> c_tools.standard_streams;

<span style="color: #569cd6;">export</span> <span style="color: #569cd6;">namespace</span> c_tools {
   <span style="color: #c586c0; text-align: left;">[[nodiscard]] </span><span style="color: #569cd6;">auto</span> stdin_stream()  <span style="color: #569cd6;">noexcept</span> -&gt; std::FILE* { <span style="color: #569cd6;">return</span> <span style="color: #569cd6;">stdin</span>; }
   <span style="color: #c586c0; text-align: left;">[[nodiscard]] </span><span style="color: #569cd6;">auto</span> stdout_stream() <span style="color: #569cd6;">noexcept</span> -&gt; std::FILE* { <span style="color: #569cd6;">return</span> <span style="color: #569cd6;">stdout</span>; }
   <span style="color: #c586c0; text-align: left;">[[nodiscard]] </span><span style="color: #569cd6;">auto</span> stderr_stream() <span style="color: #569cd6;">noexcept</span> -&gt; std::FILE* { <span style="color: #569cd6;">return</span> <span style="color: #569cd6;">stderr</span>; }
}<span style="color: #6a9955;"> // namespace c_tools</span>
