<span style="color: #6a9955;">// ------------------------------------------------------------</span>
<span style="color: #6a9955;">// policy objects:</span>

<span style="color: #569cd6;">export</span> <span style="color: #569cd6;">constexpr</span> <span style="color: #569cd6;">auto</span> digit      = Digit_character{};
<span style="color: #569cd6;">export</span> <span style="color: #569cd6;">constexpr</span> <span style="color: #569cd6;">auto</span> lower_case = Lower_case_character{};
<span style="color: #569cd6;">export</span> <span style="color: #569cd6;">constexpr</span> <span style="color: #569cd6;">auto</span> upper_case = Upper_case_character{};
<span style="color: #569cd6;">export</span> <span style="color: #569cd6;">constexpr</span> <span style="color: #569cd6;">auto</span> special    = Special_character{};
